.nav-menu {
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
}

.nav-menu__types {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu__type {
  text-decoration: none;
  color: red;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-menu__type:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.nav-menu__type--active {
  color: blue;
  border: 2px solid blue;
  box-sizing: border-box;
}
